<script src="pixi.min.js"></script>

<body>

    <script type="text/javascript">

        let canvas = document.createElement("canvas")
        let width = 1024
        let height = 800
        canvas.width = width
        canvas.height = height

        let ctx = canvas.getContext("2d")
        let imgData = ctx.createImageData(width, height)

        let app = new PIXI.Application({
            width: width,
            height: height,
            antialias: true,
            transparent: false,
            resolution: 1,
            canvas: canvas
        }
        );
        let drawText = new PIXI.Text('Drawing...', { fontFamily: 'Arial', fontSize: 24, fill: 0xff1010, align: 'left' });
        let footer = new PIXI.Text('', { 
            fontFamily: 'Arial', 
            fontSize: 12, 
            fill: 0xffffff, 
            align: 'bottom',
            dropShadow: true 
        })
        footer.y = height- 15
        let fractal = new PIXI.Sprite(PIXI.Texture.fromCanvas(canvas))
        fractal.iteractive = true

        document.body.appendChild(app.view);
        app.stage.addChild(fractal)
        app.stage.addChild(drawText)
        app.stage.addChild(footer)

        let downHandler = keyboard(40) //down arrow
        let upHandler = keyboard(38)
        let leftHandler = keyboard(37)
        let rightHandler = keyboard(39)
        let zoomHandler = keyboard(90) //z
        let outZoomHandler = keyboard(88) //a
        let incCycleHandler = keyboard(187) //+=
        let decCycleHandler = keyboard(189)//-

        let max = 50
        let xoffset = 0
        let yoffset = 0
        let step = 0.3
        let zoom = 4
        let zoomstep = .3
        let zoomCount = 0
        let xCenter = width / 2.0
        let yCenter = height / 2.0
        setFooterText()
        let drawing = true
        
        function draw(){
            drawing = true
        }

        //draw loop
        app.ticker.add(function (d) {
            if (drawing) {
                if (drawText.visible) {
                    drawFractal()
                    drawing = false
                }
                else { //do draw on next frame
                    drawText.visible = true
                    setFooterText()
                }
            } else {
                drawText.visible = false
            }
        })  

        function setFooterText(){
            footer.text = "Zoom: "+ zoom + " - Scale: " + zoom/width + " - xCenter: " + xCenter + " - yCenter: " + yCenter + " - Cycles: " + max
        }      

        function drawFractal() {
            let pixelIndex = 0            
            let scale = zoom/width            
            for (let y = 0; y < height; y++) {
                for (let x = 0; x < width; x++) {
                    //choose a C, where C is some complex number i.e. C = x + yi
                    //  center and apply scale
                    let cRe = (x - xCenter) * scale
                    let cImg = (y - yCenter) * scale
                    let a = 0.0, b = 0.0, iteration = 0
                    //test for membership of fractal set
                    //  we can assume it's a member if it 
                    //  remains bounded after max iterations.  
                    //More iterations = more detail at scale, intimate scale requires more iterations
                    while (a * a + b * b <= 4 && iteration < max) {
                        //Mandelbrot set
                        //Znext = Z^2 + C
                        //Z^2 = (a + bi)^2 = a^2 + bxyi + (ai)^2 = (a^2 - b^2) + 2abi
                        let a2 = a * a - b * b + cRe
                        b = 2 * a * b + cImg
                        a = a2
                        iteration++
                    }
                    drawPixel(pixelIndex, getColor(iteration))
                    pixelIndex += 4
                }
            }
            ctx.putImageData(imgData, 0, 0)
            fractal.texture.update()
        }

        function drawPixel(i, colorObj) {
            imgData.data[i] = colorObj.r
            imgData.data[i + 1] = colorObj.g
            imgData.data[i + 2] = colorObj.b
            imgData.data[i + 3] = 255
        }

        fractal.interactive = true
        fractal.on('pointerdown', function(e) {
            //global to view
            let x = e.data.global.x - (width/2.0)
            let y = e.data.global.y - (height/2.0)
            //offset image center by our click coords relative to center
            xCenter = (x > 0) ? xCenter-x : xCenter+(x*-1)
            yCenter = (y > 0) ? yCenter-y : yCenter+(y*-1)
            draw()
        })

        //pixel color based on number of iterations
        //  different colors depending on distance from members
        function getColor(n) {
            if (n > 0 && n < max) {
                let map = [
                    { r: 66, g: 30, b: 15 },
                    { r: 25, g: 7, b: 26 },
                    { r: 9, g: 1, b: 47 },
                    { r: 4, g: 4, b: 73 },
                    { r: 0, g: 7, b: 100 },
                    { r: 12, g: 44, b: 138 },
                    { r: 24, g: 82, b: 177 },
                    { r: 50, g: 125, b: 209 },
                    { r: 134, g: 181, b: 229 },
                    { r: 211, g: 236, b: 248 },
                    { r: 241, g: 233, b: 191 },
                    { r: 248, g: 201, b: 95 },
                    { r: 255, g: 170, b: 0 },
                    { r: 204, g: 128, b: 0 },
                    { r: 153, g: 87, b: 0 },
                    { r: 106, g: 52, b: 3 },
                    { r: 139, g: 0, b: 0 },
                    {r: 149,g: 15,b: 16},
                    {r: 158,g: 30,b: 32},
                    // {r: 168,g: 46,b: 48},
                    // {r: 178,g: 61,b: 64},
                    // {r: 187,g: 76,b: 80},
                    // {r: 197,g: 91,b: 97},
                    // {r: 207,g: 106,b: 113},
                    // {r: 216,g:121,b:129},
                    // {r: 226,g:136,b:145},
                    // {r: 236,g:152,b:161},
                    // {r: 245,g:167,b:177},
                    // {r: 255,g:182,b:193},                      
                ]
                let i = n % map.length
                return map[i]
            }
            return { r: 0, g: 0, b: 0 } //black for members of the set
        }

        downHandler.press = function () {
            yCenter -= 100
            draw()
        }
        upHandler.press = function () {
            yCenter += 100
            draw()
        }
        leftHandler.press = function () {
            xCenter += 100
            draw()
        }
        rightHandler.press = function () {
            xCenter -= 100
            draw()
        }
        zoomHandler.press = function () {
            zoom *= .5
            draw()
        }
        outZoomHandler.press = function () {
            zoom /= .5
            draw()
        }
        incCycleHandler.press = function () {
            max += 50
            draw()
        }
        decCycleHandler.press = function () {
            max -= 50
            if (max < 5) max = 5
            draw()
        }

        function keyboard(keyCode) {
            let key = {};
            key.code = keyCode;
            key.isDown = false;
            key.isUp = true;
            key.press = undefined;
            key.release = undefined;
            //The `downHandler`
            key.downHandler = event => {
                if (event.keyCode === key.code) {
                    if (key.isUp && key.press) key.press();
                    key.isDown = true;
                    key.isUp = false;
                }
                event.preventDefault();
            };

            //The `upHandler`
            key.upHandler = event => {
                if (event.keyCode === key.code) {
                    if (key.isDown && key.release) key.release();
                    key.isDown = false;
                    key.isUp = true;
                }
                event.preventDefault();
            };

            //Attach event listeners
            window.addEventListener(
                "keydown", key.downHandler.bind(key), false
            );
            window.addEventListener(
                "keyup", key.upHandler.bind(key), false
            );
            return key;
        }
    </script>
</body>